/* You can add global styles to this file, and also import other style files */
// Plus imports for other components in your app.
/*********************************************/
@import "assets/scss/4-generic/_normalize";
@import "assets/scss/4-generic/_reset";
/*********************************************/

//Add anything you need to use globally here
//example: @import "assets/scss/4-generic/_typography";
@import "assets/scss/1-settings/_variables";
@import "assets/scss/3-tools/breakpoints";
@import "assets/scss/3-tools/notouch-hover";
@import "assets/scss/3-tools/fluid-type";
@import "assets/scss/3-tools/nth-child";

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
}

body {
  font-family: 'Lato', sans-serif;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-text-field-wrapper {
  border-radius: 4px !important;
}

.mat-mdc-button {
  font-family: 'Lato' !important;
}

